			<div class="card bg-light mb-3">
			  <div class="card-header"><b> Datos de la Sesión </b> </div>
			  <div class="card-body">
			    <p> <i> {{ session.date|date('l') }}
			    		{{ session.date|date('d-m-Y') }}
			    	</i>
			    </p>

			    <p> {{ session.title }} </p>
			    <p> Inicio: {{ session.startTimeReal|date('H:i') }} </p>
			    <p> Jugando/Total: {{ session.activePlayers|length }}/{{ session.distinctPlayers|length }} </p>
			    <p> Asientos Libres: {{ session.seats - session.activePlayers|length }}</p>

			  </div>
			</div>