<!DOCTYPE html>
<html lang="en">
{% include 'header.html.twig' %}

<body>
	
	<div class="container">
		<div class="col-md-11">
		{% include 'breadcrumb.html.twig' %}
		{% include 'blockSession.html.twig' %}

			<div class="card">
				<div class="card-header bg-primary text-white">
					{% if message is not empty %}
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">x</button>
							{{ message }} 
						</div>
					{% endif %}					


					Buyins
				</div>
				<div class="card-body">
					<section class="container row">
						<article class="col-md-11" style="width: auto; margin: auto auto;">
							<table class="table table-bordered table-hover table-condensed">
								<thead class="text-center bg-dark text-white">
									<tr>
										<th> Nombre </th>
										<th> Efectivo </th>
										<th> Credito </th>
										<th> Hora de <br> compra </th>
										<th> Acciones </th>
									</tr>
								</thead>
								<tbody class="text-center">
									<!-- <?php 
									if (sizeof($session->sessionBuyins)==0)
									{
										?>
										<tr>
											<td colspan="9"> sin registros </td>
										</tr>
									<?php
									} else
									{ -->
										{% for buyin in session.buyins %} 
	
											<tr>
												<td> {{ buyin.user_session.user.name }} {{ buyin.user_session.user.lastname }}  </td>
												<td> {{ buyin.amountCash }} </td>
												<td> {{ buyin.amountCredit }} </td>
												<td> {{ buyin.hour|date('H:i') }} </td>
												<td> <a href="/sessions/{{ buyin.idSession }}/buyins/{{ buyin.id }}"> <i class="fas fa-pencil-alt"> </i> </a><a href="/{{ buyin.idSession }}/buyins/{{ buyin.id }}/remove"> <i class="fas fa-trash-alt"></i> </a> </td> 


												
											</tr>
										{% endfor %}
											<tr>
												<td colspan="9"> 
												<a href="/{{ session.idSession }}/buyins/form" class="btn btn-lg btn-block btn-danger"> <i class="fas fa-plus"></i></a>
												</td>
											</tr>
							
								</tbody>  
							</table>
						</article>
					</section>
				</div>
			</div>
		</div>
	</div>


		<script src="../../js/functions.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src=”../../js/jquery.js”> </script>
		<script src=”../../js/bootstrap.min.js”> </script>
		
</body>
</html>