<!DOCTYPE html>
<html lang="en">
{% include 'header.html.twig' %}

<body>
    <div class="container">
        <div class="col-md-8">
            {% include 'breadcrumb.html.twig' %}
            {% include 'blockSession.html.twig' %}
            <div class="card">
                <div class="card-header bg-primary text-white">
                {% include 'message.html.twig' %}
                    Gastos de Session
                </div>
                <div class="card-body">
                    <section class="container row">
                        <article class="col-md-9" style="width: auto; margin: auto auto;">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead class="thead-dark text-center bg-secondary">
                                    <tr class="bg-success">
                                        <th> # </th>
                                        <th> Descripcion </th>
                                        <th> Monto </th>
                                        <th> Acciones </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {% for expediture in session.expenses %}
                                    <tr>
                                        <td> nro </td>
                                        <td> {{ expediture.description }} </td>
                                        <td> {{ expediture.amount }} </td>
                                        <td> <a href="/sessions/{{ session.id }}/expenses/{{ expediture.id }}/update"> <i class="fas fa-pencil-alt"> </i> </a> <a href="/sessions/{{ session.id }}/expenses/{{ expediture.id }}/remove"> <i class="fas fa-trash-alt"></i> </a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="text-center bg-dark text-white">
                                        <th> TOTAL </th>
                                        <th>  </th>
                                        <th> {{ session.expensesTotal }} </th>
                                        <th> </th>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <a href="/sessions/{{ session.id }}/expenses/form" class="btn btn-lg btn-block btn-danger"> <i class="fas fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/functions.js"></script>
    <script src=”/../../js/jquery.js”> </script> <script src=”/../../js/bootstrap.min.js”> </script> </body> </html>