<!DOCTYPE html>
<html lang="en">
{% include 'header.html.twig' %}

<body>
	<div class="container">
		<div class="col-md-12">
		{% include 'breadcrumb.html.twig' %}
		{% include 'blockSession.html.twig' %}
			<div class="card">
				<div class="card-header bg-primary text-white">
					{% if message is not empty %}
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">x</button>
							{{ message }} 
						</div>
					{% endif %}
					<!--<?php
					if (isset($_GET["m"]))
					{
						switch ($_GET["m"]) 
						{
							case '1':
								?>
								<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">x</button>
									El dealerTip se ha eliminado exitosamente.
								</div>
								<?php
								break;
							case '2':
								?>
								<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">x</button>
									El serviceTip se ha eliminado exitosamente.
								</div>
								<?php
								break;
						}
					}
					?> -->
					(Dealer & Service) Tips
				</div>
				<div class="card-body">
					<section class="container row"  style="width: auto; margin: auto auto;">
						<article class="col-md-6">
							<table class="table table-bordered table-hover table-condensed">
								<thead class="thead-dark">

									<tr class="text-center bg-success">
										<th> Hora</th>
										<th> Propina </th>
										<th> Acciones </th>
									</tr>
								</thead>
								<tbody class="text-center">
									<!--<?php 
									if (sizeof($session->sessionDealerTips)==0)
									{
										?>
										<tr>
											<td colspan="3"> sin registros </td>
										</tr>
									<?php
									} else
									{ -->

									{% for dealerTip in session.dealerTips %} 

										<tr class="text-center">
											<td> {{ dealerTip.hour|date('H:i') }}  </td>
											<td> {{ dealerTip.dealerTip }}  </td>
											<td> <a href="/sessions/{{ dealerTip.idSession }}/tips/dealerTip/{{ dealerTip.id }}"> <i class="fas fa-pencil-alt"> </i> </a> <a href="/tips/dealertip/{{ dealerTip.id }}/remove"> <i class="fas fa-trash-alt"></i> </a></td>
												<!--<i class="fas fa-pencil-alt"> </i> </a> <a href="javascript:void(0);" 
												onclick="eliminar('actions/deleteDealerTip.php?id=<?php echo $dealerTip->getId(); ?>');"> <i class="fas fa-trash-alt"></i> </a></td>-->
										</tr>
									{% endfor %}


										<tr class="text-center bg-dark text-white">
											<th> TOTAL </th>
											<th> gettotal  </th>
											<th> </th>											
										</tr>

								</tbody>  
							</table>
						</article>	

						<aside class="col-md-6">
							<table class="table table-bordered table-hover table-condensed">
								<thead class="thead-dark">
									<tr class="text-center bg-success">
										<th> Hora</th>
										<th> Propina </th>
										<th> Acciones </th>
									</tr>
								</thead>
								<tbody class="text-center">
									<!--<?php 
									if (sizeof($session->sessionServiceTips)==0)
									{
										?>
										<tr>
											<td colspan="4"> sin registros </td>

										</tr>
										<?php
									} else
									{ -->
										{% for serviceTip in session.serviceTips %}

											<tr>
												<td> {{ serviceTip.hour|date('H:i') }}  </td>
												<td> {{ serviceTip.serviceTip }}  </td>
												<td> <a href="/sessions/{{ serviceTip.idSession }}/tips/serviceTip/{{ serviceTip.id }}"> <i class="fas fa-pencil-alt"> </i> </a> <a href="/tips/servicetip/{{ serviceTip.id }}/remove"> <i class="fas fa-trash-alt"></i> </a></td>


													<!--<a href="javascript:void(0);" onclick="eliminar('actions/deleteServiceTip.php?id= <?php echo $serviceTip->getId(); ?>');"> <i class="fas fa-trash-alt"> </i> </a></td>-->
											</tr>
										{% endfor %}
											<tr  class="text-center bg-dark text-white">
												<th> TOTAL </th>
												<th> total service tip </th>
												<th> </th>											
											</tr>		

								</tbody>  
							</table>
						</aside>	

					<table class="table table-bordered table-hover table-condensed">
						<thead>
							<td colspan="8">
								<a href="/{{ session.id }}/tips/form" class="btn btn-lg btn-block btn-danger"> <i class="fas fa-plus"></i></a>
							</td>
						</thead>
					</table>
					</section>
				</div>
			</div>
		</div>
	</div>



		<script src="../../js/functions.js"></script>
		<script src=”../../js/jquery.js”> </script>
		<script src=”../../js/bootstrap.min.js”> </script>
		
</body>
</html>