<!DOCTYPE html>
<html lang="en">
{% include 'header.html.twig' %}

<body>
	<div class="container">
		<div class="col-md-12">
		{% include 'breadcrumb.html.twig' %}
		{% include 'blockSession.html.twig' %}
			<div class="card">
				<div class="card-header bg-primary text-white">
					{% if message is not empty %}
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">x</button>
							{{ message }} 
						</div>
					{% endif %}
					<!--<?php
					if (isset($_GET["m"]))
					{
						switch ($_GET["m"]) 
						{
							case '1':
								?>
								<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">x</button>
									El dealerTip se ha eliminado exitosamente.
								</div>
								<?php
								break;
							case '2':
								?>
								<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">x</button>
									El serviceTip se ha eliminado exitosamente.
								</div>
								<?php
								break;
						}
					}
					?> -->
					(Dealer & Service) Tips
				</div>
				<div class="card-body">
					<section class="container row"  style="width: auto; margin: auto auto;">
						<article class="col-md-6">
							<table class="table table-bordered table-hover table-condensed">
								<thead class="thead-dark">

									<tr class="text-center bg-success">
										<th> Hora</th>
										<th> Propina </th>
										<th> Acciones </th>
									</tr>
								</thead>
								<tbody class="text-center">
									<!--<?php 
									if (sizeof($session->sessionDealerTips)==0)
									{
										?>
										<tr>
											<td colspan="3"> sin registros </td>
										</tr>
									<?php
									} else
									{ -->
									{% for dealerTip in session.dealerTips %} 

										<tr class="text-center">
											<td> {{ dealerTip.hour }}  </td>
											<td> {{ dealerTip.dealerTip }}  </td>
											<td> <a href="/sessions/{{ dealerTip.idSession }}/tips/dealerTip/{{ dealerTip.id }}"> <i class="fas fa-pencil-alt"> </i> </a> <a href="/tips/dealertip/{{ dealerTip.id }}/remove"> <i class="fas fa-trash-alt"></i> </a></td>
												<!--<i class="fas fa-pencil-alt"> </i> </a> <a href="javascript:void(0);" 
												onclick="eliminar('actions/deleteDealerTip.php?id=<?php echo $dealerTip->getId(); ?>');"> <i class="fas fa-trash-alt"></i> </a></td>-->
										</tr>
									{% endfor %}

hfehsdh